body{
  background-color: #fefdca;
}

h1{
  color: #2d4059;
}

h2{
  color: #ea5455;
}

h3{
  color: #f07b3f;
}

hr{
  border-color: #ffd3b6;
  border-style: none;
  border-bottom-style: dotted;
  width: 10%;
  border-width: 5px;
  height: 0;
}
